body {
    background-color: #000000;
    font-family: sans-serif;
    color: white;
    margin: 10px;
}

div {
    width: 100%;
    text-align: center;
}

.downloadbtncontainer {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    animation-name: fadeInBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

button {
    text-align: center;
    background-color: lime;
    border: 2px solid green;
    border-radius: 100px;
    width: 15%;
    height: 35px;
}

a {
    color: #00ff00;
    font-size: larger;
    text-decoration: none
}

.r1 h1 {
    /* text-shadow:0 0 20px #707070; */
    margin-bottom: 0px;
    font-size: 50px;
    background: #aba2a1;
    background: linear-gradient(to bottom right, #eadedd 0%, #88807f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadeInBottom;
    animation-duration: 1s;
}

.r1 h2 {
    /* text-shadow:0 0 20px #707070; */
    margin-top: 7px;
    margin-bottom: 0px;
    background: #05d3f2;
    background: linear-gradient(to bottom right, #05d3f2 0%, #b300ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-name: fadeInBottom;
    animation-duration: 1s;
}

.r1 img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 65%;
    border-radius: 50px;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 600ms;
}

.r2 h1 {
    margin-bottom: 10px;
}

.r2 h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.r2 h3 {
    margin-left: 200px;
    margin-right: 200px;
    font-weight: normal;
}

.r2 img {
    width: 60%;
}

.r3 {
    text-align: left;
    margin-left: 10px;
}

.r3 h3 {
    margin-bottom: 5px;
}

.r3 p {
    margin-top: 0px;
    font-style: italic;
}



@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Mobil optimalizálás */
@media screen and (max-width: 800px){
    .r1 img {
        width: 95%;
    }

    .r2 img {
        width: 95%;
    }

    .r2 h3 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .r1 h1 {
        margin-top: 10px;
    }
}