body {
    font-family: sans-serif;
    background-color: rgba(56, 99, 207, 0.464);
    color: white;
    text-align: center;
    margin-top: 50px;
}

.acceptButton {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #00ff00;
    color: black;
    margin-bottom: 10px;
}

.declineButton {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #ff0000;
    color: black;
}